{% extends 'baseclient.html' %}
{% load static %}
{% load custom_filter %}
{% block content %}
      
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>


<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">
  
      <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
      </a>
      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'acc' %}"  style="color: #000000;">Home</a></li>
          <li><a href="{% url 'nosformations' %}">Formations</b></a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->
      {% if user.is_authenticated %}
      <header class="topbar" data-navbarbg="skin6">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <div class="navbar-header" data-logobg="skin6">
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                        class="mdi mdi-menu"></i></a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse collapse navbar-transparent" id="navbarSupportedContent" data-navbarbg="skin5">
              <!-- toggle and nav items -->
              <!-- ============================================================== -->
            
              <!-- ============================================================== -->
              <!-- Right side toggle and nav items -->
              <!-- ============================================================== -->
              <ul class="navbar-nav float-end">
                  <!-- User profile and search -->
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <img src="{{user.img.url}}" alt="user" class="rounded-circle" width="31">
                      </a>
                      <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
                        {% if user.is_superuser %}
                        <a class="dropdown-item" href="{% url 'monprofil' %}"><i class="ti-user m-r-5 m-l-5"></i>
                          Espace admin</a>
                          {% endif %}
                        <a class="dropdown-item" href="{% url 'profile' %}"><i class="ti-user m-r-5 m-l-5"></i>
                              Mon Profile</a>
                              {% if user.role == 'Participant' %}
                              <a class="dropdown-item" href="{% url 'part' %}"><i class="ti-user m-r-5 m-l-5"></i>
                               Mes participations</a>
                               {% elif user.role == 'Formateur' %}
                               <a class="dropdown-item" href="{% url 'calendar' %}"><i class="ti-user m-r-5 m-l-5"></i>
                                Espace formateur</a>
                               {% endif %}
                             <form method="post">
                              {% csrf_token %}
                              <a class="dropdown-item" href="{% url 'logoutt' %}">
                            Deconnexion</a>
                          </form>

                      </ul>
                  </li>
                  <!-- User profile and search -->
              </ul>
          </div>
          
        </nav>
    </header>
      {% else %}
      <a  href="{% url 'admin_login' %}" class="btn-getstarted" >Se connecter</a>
      {% endif %}
    </div>
  </header><!-- End Header -->
  <div class="container-fluid">

    <section id="team" class="team">
    
        <div data-aos="fade" class="page-title">
          
            <nav class="breadcrumbs">
              <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                     
                    </div>
                  </div>
                <ol>
                  <li><a href="index.html">Home</a></li>
                  <li class="current">Espace formateur</li>
                  <li class="current">Presence</li>

                </ol>
              </div>
            </nav>
          </div><!-- End Page Title -->
          <div class="container">   
            <br>          
                        {% if affqr %}
                          <div align="right">
                            <button  id="qrButton" class="btn btn-info text-white responsive-button">Generer QR Code</button>
                  </div>
                  {% endif %}
                </div>
              
                <div id="qrPopup" class="modal">
                  <div class="modal-content">
                    <div id="qrcode"></div>
                  </div>
                </div>
              
         <div align="center">
            <div class="col-lg-8 col-xlg-9 col-md-7">
                <br>
            <br>
            <div class="table-responsive p-0">
            
                <table class="table table-striped-custom">
                  <thead>
                    <tr align="center">
                      <th colspan="2">
                        <h6 class="mb-0 text-sm">Titre de formation : {{f.titre}}</h6>
                        <select id="mySelect">
                          {% for j in jours %}
                          <option value="{{ j }}" {% if j == datecrnt %}selected{% endif %}>{{ j }}</option>
                          {% endfor %}
                        </select>                        
                      </th>
                    </tr>
                    <tr>
                      <th >Participant ({{ f.nbp }})</th>
                      <th>Present</th>
                    </tr>
                  </thead>
                  <form method="POST">
                    {% csrf_token %}
                    <tbody>
                      {% for p in participant %}
                      <tr>
                        <td>{{p|get_p|get_nom}}</td>

                        {% if p|get_r == 1 %}
                        <td ><input type="checkbox" name="presence" checked value="{{p|get_p|get_id}}"></td>
                        {% else %}
                        <td ><input type="checkbox" name="presence" value="{{p|get_p|get_id}}" ></td>
                        {% endif %}
                      </tr>
                     {% endfor %}
                    </tbody>
                  </table>
                  <br>
                  <div align="center">
                  <button type="submit"  name="prs" class="btn btn-success text-white responsive-button">Enregistrer</button>
                </form>
                </div>
            </div>  
    
            </div>
            
        </div>  
          
  <style>
    .table-bordered-vertically td,
    .table-bordered-vertically th {
        border-right: 1px solid #dee2e6;
    }
    .table-striped-custom tbody tr:nth-of-type(odd) td {
        background-color: #f8f9fa;  /* Couleur pour les colonnes impaires */
    }

    .table-striped-custom tbody tr:nth-of-type(even) td {
        background-color: #ffffff;  /* Couleur pour les colonnes paires */
    }
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 600px;
      height: 600px;

}
</style>
</div>

<div class="container copyright text-center mt-4">
    <p>&copy; <span>Copyright</span> <strong class="px-1">CNI</strong> <span>Tous droits réservés</span></p>
    <div class="credits">
    </div>
  </div>
    <script>
    $(document).ready(function() {
  var selectElement = document.getElementById('mySelect');
  selectElement.addEventListener('change', function() {
    var selectedValue = this.value;
        window.location.href = '/espaceformateur/presence/' + "{{f.id}}/" + selectedValue;
  });
}); 

document.getElementById('qrButton').addEventListener('click', function() {

// Fonction pour générer un nouveau QR code
function generateQRCode() {
  // Données à encoder dans le QR code
  var qrData = '{{f.id}}' + '-' + '{{jq}}' + '-' + generateNewCharacter();

  // Supprimer le contenu du QR code précédent
  document.getElementById('qrcode').innerHTML = '';

  // Créer une instance de QRCode
  var qrcode = new QRCode(document.getElementById('qrcode'), {
    text: qrData,
    width: 550,
    height: 550
  });

  // Afficher la fenêtre contextuelle avec le QR code
  document.getElementById('qrPopup').style.display = 'block';

  // Envoyer la nouvelle valeur au serveur pour la sauvegarder
  saveNewCharacter(qrData);
}

// Fonction pour générer un nouveau caractère
function generateNewCharacter() {
  var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
  var randomIndex = Math.floor(Math.random() * characters.length);
  var randomCharacter = characters.charAt(randomIndex);
  return randomCharacter;
}

// Fonction pour sauvegarder le nouveau caractère dans la base de données
function saveNewCharacter(character) {
  // Code pour envoyer la valeur du nouveau caractère au serveur et le sauvegarder dans la base de données
  // Utilisez une requête AJAX pour envoyer la valeur au serveur et gérer la sauvegarde côté serveur
  // Exemple :
  
  fetch('/save-character', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ character: character , id : '{{f.id}}' })
  })
    .then(response => response.json())
    .then(data => {
      console.log('Character saved:', data);
    })
    .catch(error => {
      console.error('Error saving character:', error);
    });
  
}
generateQRCode();
setInterval(generateQRCode, 15000);
    });

    document.addEventListener('click', function(event) {
  var qrPopup = document.getElementById('qrPopup');
  if (event.target === qrPopup) {
    qrPopup.style.display = 'none';
    location.reload(); // Refresh the page
  }
});

  </script>
  {% endblock %}
  