{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="card my-4">
        <div class="card my-4">
            <div class="page-breadcrumb">
              <div class="row align-items-center">
                  <div class="col-6">
                      <nav aria-label="breadcrumb">
                          <ol class="breadcrumb mb-0 d-flex align-items-center">
                            <li class="breadcrumb-item"><a href="index.html" class="link"><i class="mdi mdi-chair-school fs-4"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Gestion des formations</li>
                          </ol>
                        </nav>
                      <h1 class="mb-0 fw-bold">Formation</h1> 
                  </div>
                  <div class="col-6">
                    <div class="container">
                      <div class="row justify-content-end align-items-center">
                        <div class="col-md-6">
                          <div class="input-group">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              
              </div>
          </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            
            <!-- Column -->
            <div class="col-lg-4 col-xlg-3 col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form method="POST" class="form-horizontal form-material mx-2">
                            {% csrf_token %}
                            <div class="form-group">
                              <label class="col-md-12" for="titre">Titre</label>
                              <div class="col-md-12">
                                <input value="{{ f.titre }}" type="text" name="titre" class="form-control form-control-line">
                              </div>
                            </div>
                            <div class="form-group">
                        <label class="col-md-12" for="formateur">Formateur</label>
                        <div class="col-md-12">
                          <select name="formateur" class="form-control form-control-line">
                            {% for user1 in users %}
                            {% if user1.role == "Formateur" %}
                            {% if user1.id == f.formateur.id  %}
                            <option value="{{user1.id}}" selected>{{user1.last_name}} {{user1.first_name}}</option>
                            {% else  %}
                            <option value="{{user1.id}}" >{{user1.last_name}} {{user1.first_name}}</option>
                            {% endif %} 
                            {% endif %}
                            {% endfor %}
                        </select>
                        </div>
                      </div>
                            <div class="form-group">
                              <label class="col-md-12" for="nombrePlace">Nombre de place</label>
                              <div class="col-md-12">
                                <input type="text" name="nombrePlace" value={{f.nbp}} class="form-control form-control-line">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-md-12" for="prix">Prix</label>
                              <div class="col-md-12">
                                <input type="text" name="prix" value={{f.prx}} class="form-control form-control-line">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-md-12" for="dateDebut">Date de début</label>
                              <div class="col-md-12">
                                <input type="date" name="dateDebut" id="dateDebut" value="{{ f.date_deb|date:'Y-m-d' }}" class="form-control form-control-line">
                            </div>
                            </div>
                            <div class="form-group">
                              <label class="col-md-12" for="dateFin">Date de fin</label>
                              <div class="col-md-12">
                                <input type="date" name="dateFin" id="dateFin" value="{{ f.date_fin|date:'Y-m-d' }}" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group" align="left">
                              <div class="col-sm-12">
                                <button name="btn_mod" type="submit" class="btn btn-success text-white">Modifier</button>
                            </div>
                            </div> 
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %} 
                          </form>
                    </div>
                </div>
            </div>
            <!-- Column -->
            
            <div class="col-lg-4 col-xlg-3 col-md-5">
                <div class="card">
                    <div class="card-body">
                        <center class="m-t-30"> 
                            <h6 class="card-subtitle">Formateur</h6>
                            <img src="{{ f.formateur.img.url }}"
                                class="rounded-circle" width="150" />
                            <h4 class="card-title m-t-10"> {{f.formateur.last_name}} {{f.formateur.first_name}}</h4>
                            <a  href="{% url 'profilUser' f.formateur.id %}" class="btn btn-outline-info btn-sm">Voir profile</a>
                            <div class="row text-center justify-content-md-center">
                              <br>
                              {{nbpr}}/{{f.nbp}}
                            </div>
                        </center>
                    </div>
                    <div id="list-example" class="list-group">
                        <div class="form-outline mb-0">
                            <input placeholder="Chercher participant" class="form-control" name="inp1" id="inp1">
                          </div>
                          <div id="datatable">
                        </div>
                        {% for u in par_enc %}
                        <div>
                        <a class="list-group-item list-group-item-action d-flex justify-content-between participant-item1" href="#list-item-1" name={{u.id}}>
                            <div class="d-flex px-2 py-1">
                                <div>
                                    <img width="25px" src="{{ u.img.url }}" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                                </div>
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm">{{ u.last_name }} {{ u.first_name }}</h6>
                                </div>
                            </div>
                            <div class="ms-auto me-2">
                              <form method="post" action="{% url 'detailleFormation' f.id  %}">
                                {% csrf_token %}
                                <button type="submit" , class="btn btn-outline-success btn-sm" , value="{{u.id}}" , name="btn_ats" >Attestation</button>                                   
                                <button type="submit" , class="btn btn-outline-danger btn-sm" , value="{{u.id}}" , name="btn_ret" >Retirer</button> 
                                  
                              </div>
                        </a>
                    </div>
                        {% endfor %}
                     
                    </div>
              
                </div>
            </div>
            <div class="col-lg-4 col-xlg-3 col-md-5">
                <div class="card">
                    <div class="card-body">
                        <center class="m-t-30">
                            <h6 class="card-subtitle">Liste des participants en attente</h6>
                        {{nbpd}} places disponibles 

                        </center>
                    </div>
                    <div id="list-example" class="list-group">
                        <div class="form-outline mb-0">
                            <input placeholder="Chercher participant" class="form-control" id="inp2">
                        </div>
                        <div id="datatable">
                            {% for u in par_enatt %}
                            <div>
                            <a class="list-group-item list-group-item-action d-flex justify-content-between participant-item2" href="#list-item-1" name={{u.id}}>
                                <div class="d-flex px-2 py-1">
                                    <div>
                                        <img width="25px" src="{{ u.img.url }}" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">{{ u.last_name }} {{ u.first_name }}</h6>
                                    </div>
                                </div>
                                <div class="ms-auto me-2">
                                  <form method="post" action="{% url 'detailleFormation' f.id  %}">
                                    {% csrf_token %}
                                    {% if nbpd != 0 %}
                                    <button type="submit" class="btn btn-outline-success btn-sm" value="{{ u.id }}" name="btn_acc">Accepter</button>
                                {% endif %}                                
                                  </div>
                            </a>
                        </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Column -->
        </div>
        <!-- Row -->
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
$(document).ready(function() {
  $('#inp2').on('input', function() {
    var searchValue = $(this).val().toLowerCase();
    filterParticipants2(searchValue);
  });
  $('#inp1').on('input', function() {
    var searchValue = $(this).val().toLowerCase();
    filterParticipants(searchValue);
  });
  function filterParticipants2(searchValue) {
    $('.participant-item2').each(function() {
      var participantName = $(this).find('h6').text().toLowerCase();
      if (participantName.includes(searchValue)) {
        $(this).parent().show();  // Show matching participant
      } else {
        $(this).parent().hide();  // Hide non-matching participants
      }
    });
  }
  function filterParticipants(searchValue) {
    $('.participant-item1').each(function() {
      var participantName = $(this).find('h6').text().toLowerCase();
      if (participantName.includes(searchValue)) {
        $(this).parent().show();  // Show matching participant
      } else {
        $(this).parent().hide();  // Hide non-matching participants
      }
    });
  }
});

</script>

{% endblock %}